.flex-container{
	display: flex; <!-- Enables flex layout-->
	justify-content: space-between; <!-- Spaces items evenly with space between-->
	align-items: center; <--Aligns items vertically in the center-->
}

<!-- Style for each flex item-->
.item{
	background: #3498db; <!--Blue background-->
	color: white;
	padding: 20px;
	width: 100px;
	text-align: canter;
}
	